.vectorIcon {
  position: absolute;
  height: 97.69%;
  width: 97.69%;
  top: 0.69%;
  right: 1.62%;
  bottom: 1.62%;
  left: 0.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transform: rotate(180deg);
}
.navRightsvgFill,
.path2Icon {
  overflow: hidden;
  cursor: pointer;
}
.path2Icon {
  position: absolute;
  height: 21.06%;
  width: 10.42%;
  top: -61.81%;
  right: 143.06%;
  bottom: 140.74%;
  left: -53.47%;
  max-width: 100%;
  max-height: 100%;
  transform: rotate(180deg);
}
.navRightsvgFill {
  width: 43.2px;
  position: relative;
  height: 43.2px;
  flex-shrink: 0;
  transform: rotate(-180deg);
}
.n {
  text-transform: uppercase;
}
.avigateOurOther {
  text-transform: lowercase;
}
.faq {
  width: 310.5px;
  position: relative;
  letter-spacing: 2.4px;
  line-height: 25.61px;
  display: inline-block;
  flex-shrink: 0;
}
.path2Icon1,
.vectorIcon1 {
  position: absolute;
  height: 97.69%;
  width: 97.69%;
  top: 1.16%;
  right: -0.69%;
  bottom: 1.16%;
  left: 3.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path2Icon1 {
  height: 21.06%;
  width: 10.42%;
  top: 41.2%;
  right: 43.98%;
  bottom: 37.73%;
  left: 45.6%;
  cursor: pointer;
}
.navRightsvgFill1 {
  width: 43.2px;
  position: relative;
  height: 43.2px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.arrow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-base-2);
  color: var(--color-darkslategray-300);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 420px) {
  .faq {
    font-size: var(--font-size-sm);
  }
}
