@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.proudlyGhanaian {
  align-self: stretch;
  height: 35px;
  position: relative;
  font-size: var(--font-size-16xl-1);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--font-poppins);
  text-align: left;
  display: inline-block;
  opacity: 1;
}
.proudlyGhanaian.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.agrospectrumLimitedIs {
  flex: 1;
  position: relative;
}
.agrospectrumLimitedIsALeadWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.805714130401611px 0;
  opacity: 1;
}
.agrospectrumLimitedIsALeadWrapper.animate,
.agrospectrumsCommitmentExteWrapper.animate {
  animation: 3s ease 0s 1 normal forwards scale-up;
}
.p {
  margin: 0;
}
.agrospectrumsCommitmentExteContainer {
  flex: 1;
  position: relative;
}
.agrospectrumsCommitmentExteWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.805714130401611px;
  opacity: 1;
}
.frameWrapper,
.proudlyGhanaianParent {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.proudlyGhanaianParent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 49.176002502441406px 7.805714130401611px 7.805714130401611px;
  gap: 14.83px 0;
}
.frameWrapper {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xs) 0;
}
.droneIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0;
}
.droneIcon.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.container,
.frameParent {
  align-self: stretch;
  display: flex;
}
.frameParent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0 76.5px;
}
.container {
  background-color: var(--color-darkolivegreen-600);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 124.89142608642578px;
  text-align: justify;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .agrospectrumLimitedIs {
    font-size: var(--font-size-base);
  }
  .agrospectrumsCommitmentExteWrapper {
    display: none;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .agrospectrumLimitedIs {
    display: flex;
  }
}
