@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.captureIcon,
.download5Icon,
.download5Icon1 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 55.8px;
  height: 46.5px;
  object-fit: cover;
}
.captureIcon,
.download5Icon1 {
  top: 10.6px;
  left: 99.3px;
  width: 69.1px;
  height: 45.1px;
}
.captureIcon {
  top: 8.6px;
  left: 211.9px;
  width: 112.2px;
  height: 49.1px;
}
.download3Icon,
.imagesIcon,
.mofaColorIcon {
  position: absolute;
  top: 12.6px;
  left: 367.7px;
  width: 196.5px;
  height: 41.2px;
  object-fit: cover;
}
.download3Icon,
.imagesIcon {
  top: 13.9px;
  left: 607.8px;
  width: 39.2px;
  height: 38.5px;
}
.imagesIcon {
  top: 17.6px;
  left: 690.5px;
  width: 91.6px;
  height: 31.2px;
  mix-blend-mode: difference;
}
.download1Icon,
.download6Icon {
  position: absolute;
  top: 9.6px;
  left: 825.7px;
  width: 82.3px;
  height: 47.1px;
  object-fit: cover;
}
.download1Icon {
  top: 11.6px;
  left: 951.6px;
  width: 108.9px;
  height: 43.2px;
}
.download2Icon,
.downloadIcon,
.images1Icon {
  position: absolute;
  top: 8.3px;
  left: 1104px;
  width: 45.1px;
  height: 49.8px;
  object-fit: cover;
}
.download2Icon,
.images1Icon {
  top: 0;
  left: 1192.7px;
  width: 66.4px;
  height: 66.4px;
}
.download2Icon {
  top: 12.6px;
  left: 1302.7px;
  width: 41.2px;
  height: 41.2px;
}
.download5Group,
.download5Parent,
.frameParent {
  position: absolute;
  top: 0;
  left: 1395.2px;
  width: 1343.9px;
  height: 66.4px;
}
.download5Group,
.frameParent {
  left: 0;
}
.frameParent {
  left: -24.5px;
  width: 2740.7px;
}
.component1 {
  align-self: stretch;
  position: relative;
  background: linear-gradient(90deg, #fbfbfb, rgba(161, 181, 161, 0.99));
  height: 66.4px;
  overflow: hidden;
  flex-shrink: 0;
}
.nowWere {
  position: relative;
  letter-spacing: 0.71px;
  line-height: 36.36px;
  text-transform: uppercase;
}
.nowWereWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7.905092716217041px;
}
.nowWere1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.71px;
  line-height: 36.36px;
  text-transform: uppercase;
  font-weight: 800;
}
.nowWereContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7.905092716217041px;
  font-size: var(--font-size-16xl-6);
}
.transformYourAgricultural {
  margin: 0;
}
.cultivateSuccessWith {
  font-family: var(--font-poppins);
}
.nuncUltricesTellusContainer {
  flex: 1;
  position: relative;
  line-height: 25.3px;
}
.nuncUltricesTellusWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7.905092716217041px 7.905092716217041px;
  font-size: var(--font-size-base-8);
  color: var(--color-gainsboro-200);
}
.getInTouch {
  position: relative;
  font-size: var(--font-size-base-8);
  line-height: 10.06px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  cursor: pointer;
}
.getInTouch:hover {
  color: var(--color-darkolivegreen-300);
}
.getInTouchWrapper {
  cursor: pointer;
  border: 0;
  padding: 19.723596572875977px 39.44719314575195px;
  background-color: transparent;
  width: 194.8px;
  border-radius: 32.05px;
  background: linear-gradient(93.32deg, #4f943e, #c1ad28);
  height: 49.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.getInTouchWrapper:hover {
  mix-blend-mode: normal;
  background-color: var(--color-whitesmoke-300);
}
.transform {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.810185432434082px 0 31.620370864868164px;
  gap: 6.32px 0;
  color: var(--color-white);
}
.nowWere2,
.nowWere3 {
  position: relative;
  letter-spacing: 0.71px;
  line-height: 18.97px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere2 {
  align-self: stretch;
}
.nowWere3 {
  flex: 1;
  cursor: pointer;
}
.nowWere3:hover,
.nowWere4:hover,
.nowWere5:hover,
.nowWere6:hover {
  color: var(--color-goldenrod-300);
}
.nowWereFrame {
  align-self: stretch;
  height: 22.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nowWere4 {
  cursor: pointer;
}
.nowWere4,
.nowWere5 {
  flex: 1;
  position: relative;
  letter-spacing: 0.71px;
  line-height: 18.97px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 22.1px;
}
.nowWere6,
.nowWereWrapper2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.nowWereWrapper2 {
  height: 27.7px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 7.905092716217041px 0;
  box-sizing: border-box;
}
.nowWere6 {
  position: relative;
  letter-spacing: 0.71px;
  line-height: 18.97px;
  text-transform: uppercase;
  font-weight: 500;
  height: 25.3px;
  flex-shrink: 0;
  cursor: pointer;
}
.frameChild {
  width: 65.6px;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
}
.nowWereGroup {
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
.nowWereGroup:hover .frameChild {
  display: flex;
}
.frameDiv,
.nowWereGroup,
.nowWereParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameDiv {
  align-self: stretch;
  height: 113.8px;
  justify-content: space-between;
  font-size: var(--font-size-smi-6);
  color: var(--color-white);
}
.nowWereParent {
  flex: 1;
  justify-content: flex-start;
  gap: 7.91px 0;
}
.nowWere7 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.71px;
  line-height: 36.36px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 17.4px;
  flex-shrink: 0;
}
.nowWereWrapper3 {
  width: 127.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.a {
  text-transform: uppercase;
}
.grsopectrum {
  text-transform: lowercase;
}
.agrsopectrumLtdTxtContainer {
  width: 100%;
}
.agrsopectrumLtd {
  width: 119.4px;
  position: relative;
  letter-spacing: 0.71px;
  line-height: 36.36px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  height: 19.8px;
  flex-shrink: 0;
}
.frameParent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.91px 0;
}
.nowWere8,
.nowWere9 {
  position: relative;
  letter-spacing: 0.71px;
}
.nowWere8 {
  width: 133.6px;
  line-height: 36.36px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 16.6px;
  flex-shrink: 0;
}
.nowWere9 {
  align-self: stretch;
  line-height: 18.97px;
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent1,
.nowWereParent2 {
  flex-direction: column;
  gap: 11.86px 0;
}
.nowWereParent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowWereParent1 {
  width: 190.8px;
  font-size: var(--font-size-smi-6);
  color: var(--color-white);
}
.frameContainer,
.frameParent1,
.nowWereParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex-direction: column;
  gap: 25.3px 0;
  font-size: var(--font-size-xs-9);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  gap: 0 7.91px;
}
.nowWere12,
.nowWere13 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.71px;
  line-height: 36.36px;
  text-transform: uppercase;
  font-weight: 600;
}
.nowWere13 {
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.91px 0;
}
.nowWere16,
.nowWere17 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.71px;
  line-height: 36.36px;
  text-transform: capitalize;
  font-weight: 600;
}
.nowWere17 {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 21.3px;
  flex-shrink: 0;
}
.nowWereParent4,
.nowWereParent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowWereParent5 {
  align-self: stretch;
  gap: 5.53px 0;
}
.nowWereParent4 {
  flex: 1;
  gap: 2.37px 0;
}
.frameGroup,
.frameParent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameParent3 {
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-smi-6);
  color: var(--color-white);
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 31.62px 0;
  font-size: var(--font-size-xs-1);
}
.frameItem,
.nowWere18 {
  position: relative;
  cursor: pointer;
}
.frameItem {
  width: 16.6px;
  max-height: 100%;
}
.frameItem:hover {
  width: 24px;
}
.nowWere18 {
  font-size: var(--font-size-mini-2);
  letter-spacing: 0.91px;
  line-height: 46.43px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.nowWere18:hover {
  font-size: var(--font-size-4xl);
}
.nowWere20,
.vectorParent {
  display: flex;
  align-items: center;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 15.81px;
}
.nowWere20 {
  position: absolute;
  height: 203.76%;
  width: 96.17%;
  top: -51.64%;
  left: -0.72%;
  letter-spacing: 0.91px;
  line-height: 46.43px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere19,
.nowWere21 {
  align-self: stretch;
  position: relative;
}
.nowWere19 {
  height: 21.3px;
}
.nowWere21 {
  letter-spacing: 1.06px;
  line-height: 54.25px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
  cursor: pointer;
}
.nowWereParent6 {
  align-self: stretch;
  height: 46.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.91px 0;
}
.nowWere23 {
  position: absolute;
  width: 96.17%;
  top: -57.77%;
  left: -0.77%;
  letter-spacing: 0.91px;
  line-height: 46.43px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nowWere22 {
  align-self: stretch;
  position: relative;
  height: 20.6px;
}
.nowWere25 {
  position: absolute;
  top: 5.5px;
  left: -0.8px;
  letter-spacing: 0.91px;
  line-height: 46.43px;
  text-transform: lowercase;
  font-weight: 500;
}
.nowWere24 {
  align-self: stretch;
  position: relative;
  height: 20.6px;
  color: var(--color-white);
}
.nowWereParent7 {
  width: 208.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.91px 0;
}
.nowWere27 {
  position: absolute;
  top: -25.65%;
  left: 0;
  letter-spacing: 0.91px;
  line-height: 46.43px;
  text-transform: uppercase;
  font-weight: 500;
}
.groupIcon,
.nowWere26 {
  width: 103.6px;
  position: relative;
  height: 30.8px;
}
.groupIcon {
  width: 11px;
  height: 11.9px;
}
.instagram {
  width: 36.6px;
  border-radius: var(--br-6xl-2);
  background-color: var(--color-darkgray-300);
  height: 37px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15.751519203186035px;
  box-sizing: border-box;
  cursor: pointer;
}
.vectorIcon {
  width: 6.2px;
  position: relative;
  height: 11.9px;
}
.facebook {
  width: 37.4px;
  border-radius: 29.14px;
  background-color: var(--color-darkgray-300);
  height: 38.6px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15.751519203186035px 19.68939971923828px;
  box-sizing: border-box;
}
.vectorIcon1 {
  width: 13.2px;
  position: relative;
  height: 11.1px;
}
.twitter {
  width: 35.8px;
  border-radius: 46.07px;
  background-color: var(--color-darkgray-300);
  height: 35.8px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15.751519203186035px 13.782580375671387px;
  box-sizing: border-box;
}
.vectorIcon2 {
  width: 12.7px;
  position: relative;
  height: 11.9px;
}
.linkedinAgrospectrem {
  width: 39px;
  border-radius: var(--br-12xl-9);
  background-color: var(--color-darkgray-300);
  height: 38.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15.751519203186035px;
  box-sizing: border-box;
  cursor: pointer;
}
.instagramParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 13.44px;
}
.frameParent4,
.nowWereParent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.nowWereParent8 {
  align-self: stretch;
  height: 78.3px;
  padding: 0 3.9525463581085205px;
  gap: 7.91px 0;
}
.frameParent4 {
  height: 292.5px;
  flex: 1;
  padding: 23.71527862548828px;
  gap: 23.72px 0;
  font-size: var(--font-size-smi-6);
}
.footer,
.transformParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.transformParent {
  flex-direction: row;
  align-items: flex-start;
  padding: 31.620370864868164px 0;
  gap: 190px 47.43px;
  opacity: 1;
}
.transformParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.footer {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 63.24074172973633px;
  text-align: left;
  font-size: var(--font-size-7xl-9);
  color: var(--color-seagreen);
  font-family: var(--font-poppins);
}
.frameInner {
  width: 953.4px;
  position: relative;
  border-top: 0.8px solid var(--color-white);
  box-sizing: border-box;
  height: 0.8px;
}
.lineWrapper {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 237.1527862548828px;
}
.nowWere28,
.nowWere29 {
  width: 320.9px;
  position: relative;
  letter-spacing: 0.71px;
  line-height: 15.81px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  height: 22.1px;
  flex-shrink: 0;
}
.nowWere29 {
  width: 421.3px;
}
.nowWereParent9 {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 7.905092716217041px 181.817138671875px;
}
.footerComponent,
.frameParent5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footerComponent {
  background-color: var(--color-darkslategray-300);
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-smi-6);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameGroup,
  .frameParent4,
  .transform {
    flex: unset;
    align-self: stretch;
  }
  .transformParent {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
  }
  .nowWereParent9 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-97xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .nowWere {
    font-size: var(--font-size-7xl);
  }
  .nowWere1 {
    font-size: var(--font-size-15xl);
  }
  .getInTouchWrapper {
    width: 200px;
    height: 55px;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .frameInner {
    width: 900px;
  }
}
@media screen and (max-width: 420px) {
  .nowWere {
    font-size: var(--font-size-5xl);
  }
  .nowWere1 {
    font-size: var(--font-size-11xl);
  }
  .frameInner {
    width: 400px;
  }
  .nowWere28,
  .nowWere29 {
    font-size: var(--font-size-xs);
  }
  .nowWereParent9 {
    padding-top: var(--padding-8xs);
    padding-bottom: var(--padding-8xs);
    box-sizing: border-box;
  }
}
