@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.captureIcon,
.download5Icon,
.download5Icon1 {
  position: absolute;
  top: 10.1px;
  left: 0;
  width: 56.5px;
  height: 47px;
  object-fit: cover;
}
.captureIcon,
.download5Icon1 {
  top: 10.8px;
  left: 100.6px;
  width: 69.9px;
  height: 45.7px;
}
.captureIcon {
  top: 8.7px;
  left: 214.5px;
  width: 113.6px;
  height: 49.7px;
}
.download3Icon,
.imagesIcon,
.mofaColorIcon {
  position: absolute;
  top: 12.8px;
  left: 372.2px;
  width: 199px;
  height: 41.7px;
  object-fit: cover;
}
.download3Icon,
.imagesIcon {
  top: 14.1px;
  left: 615.3px;
  width: 39.7px;
  height: 39px;
}
.imagesIcon {
  top: 17.8px;
  left: 699px;
  width: 92.8px;
  height: 31.6px;
  mix-blend-mode: difference;
}
.download1Icon,
.download6Icon {
  position: absolute;
  top: 9.7px;
  left: 835.9px;
  width: 83.3px;
  height: 47.7px;
  object-fit: cover;
}
.download1Icon {
  top: 11.8px;
  left: 963.3px;
  width: 110.2px;
  height: 43.7px;
}
.download2Icon,
.downloadIcon,
.images1Icon {
  position: absolute;
  top: 8.4px;
  left: 1117.6px;
  width: 45.7px;
  height: 50.4px;
  object-fit: cover;
}
.download2Icon,
.images1Icon {
  top: 0;
  left: 1207.4px;
  width: 67.2px;
  height: 67.2px;
}
.download2Icon {
  top: 12.8px;
  left: 1318.7px;
  width: 41.7px;
  height: 41.7px;
}
.download5Group,
.download5Parent,
.frameParent {
  position: absolute;
  top: 0;
  left: 1412.4px;
  width: 1360.4px;
  height: 67.2px;
}
.download5Group,
.frameParent {
  left: 0;
}
.frameParent {
  left: -24.8px;
  width: 2774.4px;
}
.component1 {
  align-self: stretch;
  position: relative;
  background: linear-gradient(90deg, #fbfbfb, rgba(161, 181, 161, 0.99));
  height: 67.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.nowWere {
  position: relative;
  letter-spacing: 0.72px;
  line-height: 36.81px;
  text-transform: uppercase;
}
.nowWereWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.002344131469727px;
}
.nowWere1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.72px;
  line-height: 36.81px;
  text-transform: uppercase;
  font-weight: 800;
}
.nowWereContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.002344131469727px;
  font-size: var(--font-size-17xl);
}
.transformYourAgricultural {
  margin: 0;
}
.cultivateSuccessWith {
  font-family: var(--font-poppins);
}
.nuncUltricesTellusContainer {
  flex: 1;
  position: relative;
  line-height: 25.61px;
}
.nuncUltricesTellusWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8.002344131469727px 8.002344131469727px;
  font-size: var(--font-size-base);
  color: var(--color-gainsboro-200);
}
.getInTouch {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 10.18px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.getInTouch:hover {
  color: var(--color-darkolivegreen-300);
}
.getInTouchWrapper {
  cursor: pointer;
  border: 0;
  padding: 19.96624183654785px 39.9324836730957px;
  background-color: transparent;
  width: 197.2px;
  border-radius: 32.45px;
  background: linear-gradient(93.32deg, #4f943e, #c1ad28);
  height: 50.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.getInTouchWrapper:hover {
  mix-blend-mode: normal;
  background-color: var(--color-whitesmoke-300);
}
.transform {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.004688262939453px 0 32.009376525878906px;
  gap: 6.4px 0;
  color: var(--color-white);
}
.nowWere2,
.nowWere3 {
  position: relative;
  letter-spacing: 0.72px;
  line-height: 19.21px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere2 {
  align-self: stretch;
}
.nowWere3 {
  flex: 1;
  cursor: pointer;
}
.nowWere3:hover,
.nowWere4:hover,
.nowWere5:hover,
.nowWere6:hover,
.nowWere8:hover {
  color: var(--color-goldenrod-300);
}
.nowWereFrame {
  align-self: stretch;
  height: 23.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nowWere4 {
  cursor: pointer;
}
.nowWere4,
.nowWere5 {
  flex: 1;
  position: relative;
  letter-spacing: 0.72px;
  line-height: 19.21px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 22.4px;
}
.nowWere6,
.nowWereWrapper2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.nowWereWrapper2 {
  height: 28px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8.002344131469727px 0;
  box-sizing: border-box;
}
.nowWere6 {
  position: relative;
  letter-spacing: 0.72px;
  line-height: 19.21px;
  text-transform: uppercase;
  font-weight: 500;
  height: 25.6px;
  flex-shrink: 0;
  cursor: pointer;
}
.frameChild {
  width: 66.4px;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
}
.nowWereGroup {
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
.nowWereGroup:hover .frameChild {
  display: flex;
}
.frameDiv,
.nowWereGroup,
.nowWereParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameDiv {
  align-self: stretch;
  height: 115.2px;
  justify-content: space-between;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
}
.nowWereParent {
  flex: 1;
  justify-content: flex-start;
  gap: 8px 0;
}
.nowWere7,
.nowWere8 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.72px;
}
.nowWere7 {
  line-height: 36.81px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 36.8px;
  flex-shrink: 0;
}
.nowWere8 {
  font-size: var(--font-size-smi-8);
  line-height: 19.21px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-white);
}
.nowWereParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.2px 0;
}
.nowWere10,
.nowWere9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.72px;
}
.nowWere9 {
  line-height: 36.81px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 28.8px;
  flex-shrink: 0;
}
.nowWere10 {
  line-height: 19.21px;
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent2,
.nowWereParent3 {
  align-self: stretch;
  flex-direction: column;
}
.nowWereParent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.4px 0;
}
.nowWereParent2 {
  gap: 5.6px 0;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
}
.frameContainer,
.frameParent1,
.nowWereParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  gap: 27.21px 0;
  font-size: var(--font-size-xs);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  gap: 0 8px;
}
.nowWere13,
.nowWere14 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.72px;
  line-height: 36.81px;
  text-transform: uppercase;
  font-weight: 600;
}
.nowWere14 {
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px 0;
}
.nowWere17,
.nowWere18 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.72px;
  line-height: 36.81px;
  text-transform: capitalize;
  font-weight: 600;
}
.nowWere18 {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 21.6px;
  flex-shrink: 0;
}
.nowWereParent5,
.nowWereParent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowWereParent6 {
  align-self: stretch;
  gap: 5.6px 0;
}
.nowWereParent5 {
  flex: 1;
  gap: 2.4px 0;
}
.frameGroup,
.frameParent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameParent2 {
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32.01px 0;
  font-size: var(--font-size-xs-2);
}
.frameItem,
.nowWere19 {
  position: relative;
  cursor: pointer;
}
.frameItem {
  width: 16.8px;
  max-height: 100%;
}
.frameItem:hover {
  width: 24px;
}
.nowWere19 {
  font-size: var(--font-size-mini-4);
  letter-spacing: 0.92px;
  line-height: 47px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.nowWere19:hover {
  font-size: var(--font-size-4xl);
}
.nowWere21,
.vectorParent {
  display: flex;
  align-items: center;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 16px;
}
.nowWere21 {
  position: absolute;
  height: 203.7%;
  width: 96.15%;
  top: -51.85%;
  left: -0.69%;
  letter-spacing: 0.92px;
  line-height: 47px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere20,
.nowWere22 {
  align-self: stretch;
  position: relative;
}
.nowWere20 {
  height: 21.6px;
}
.nowWere22 {
  letter-spacing: 1.07px;
  line-height: 54.91px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
}
.nowWereParent7 {
  align-self: stretch;
  height: 47.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px 0;
}
.nowWere24 {
  position: absolute;
  width: 96.12%;
  top: -57.69%;
  left: -0.76%;
  letter-spacing: 0.92px;
  line-height: 47px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nowWere23 {
  align-self: stretch;
  position: relative;
  height: 20.8px;
}
.nowWere26 {
  position: absolute;
  top: 5.6px;
  left: -0.8px;
  letter-spacing: 0.92px;
  line-height: 47px;
  text-transform: lowercase;
  font-weight: 500;
}
.nowWere25 {
  align-self: stretch;
  position: relative;
  height: 20.8px;
  color: var(--color-white);
}
.nowWereParent8 {
  width: 211.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px 0;
}
.nowWere28 {
  position: absolute;
  top: -25.64%;
  left: 0;
  letter-spacing: 0.92px;
  line-height: 47px;
  text-transform: uppercase;
  font-weight: 500;
}
.groupIcon,
.nowWere27 {
  width: 104.8px;
  position: relative;
  height: 31.2px;
}
.groupIcon {
  width: 11.1px;
  height: 12px;
}
.instagram {
  width: 37.1px;
  border-radius: 25.51px;
  background-color: var(--color-darkgray-300);
  height: 37.5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15.945300102233887px;
  box-sizing: border-box;
}
.vectorIcon {
  width: 6.2px;
  position: relative;
  height: 12px;
}
.vectorWrapper {
  width: 37.9px;
  border-radius: var(--br-10xl-5);
  background-color: var(--color-darkgray-300);
  height: 39.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15.945300102233887px 19.931625366210938px;
  box-sizing: border-box;
}
.vectorIcon1 {
  width: 13.3px;
  position: relative;
  height: 11.2px;
}
.frame {
  width: 36.3px;
  border-radius: 46.64px;
  background-color: var(--color-darkgray-300);
  height: 36.3px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15.945300102233887px 13.95213794708252px;
  box-sizing: border-box;
}
.vectorIcon2 {
  width: 12.9px;
  position: relative;
  height: 12px;
}
.vectorContainer {
  width: 39.5px;
  border-radius: 32.29px;
  background-color: var(--color-darkgray-300);
  height: 39.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15.945300102233887px;
  box-sizing: border-box;
}
.instagramParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 13.6px;
}
.frameParent3,
.nowWereParent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.nowWereParent9 {
  align-self: stretch;
  height: 79.2px;
  padding: 0 4.001172065734863px;
  gap: 8px 0;
}
.frameParent3 {
  height: 296.1px;
  flex: 1;
  padding: 24.007030487060547px;
  gap: 24.01px 0;
  font-size: var(--font-size-smi-8);
}
.footer,
.transformParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.transformParent {
  flex-direction: row;
  align-items: flex-start;
  padding: 32.009376525878906px 0;
  gap: 190px 48.01px;
  opacity: 1;
}
.transformParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.footer {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 64.01875305175781px;
  text-align: left;
  font-size: var(--font-size-8xl-2);
  color: var(--color-seagreen);
  font-family: var(--font-poppins);
}
.frameInner {
  width: 965.1px;
  position: relative;
  border-top: 0.8px solid var(--color-white);
  box-sizing: border-box;
  height: 0.8px;
}
.lineWrapper {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 240.0703125px;
}
.nowWere29,
.nowWere30 {
  width: 324.9px;
  position: relative;
  letter-spacing: 0.72px;
  line-height: 16px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  height: 22.4px;
  flex-shrink: 0;
}
.nowWere30 {
  width: 426.5px;
}
.nowWereParent10 {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8.002344131469727px 184.0539093017578px;
}
.footerComponent,
.frameParent4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footerComponent {
  background-color: var(--color-darkslategray-300);
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameGroup,
  .frameParent3,
  .transform {
    flex: unset;
    align-self: stretch;
  }
  .transformParent {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
  }
  .nowWereParent10 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-97xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .nowWere {
    font-size: var(--font-size-7xl);
  }
  .nowWere1 {
    font-size: var(--font-size-15xl);
  }
  .getInTouchWrapper {
    width: 200px;
    height: 55px;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .frameInner {
    width: 900px;
  }
}
@media screen and (max-width: 420px) {
  .nowWere {
    font-size: var(--font-size-5xl);
  }
  .nowWere1 {
    font-size: var(--font-size-11xl);
  }
  .frameInner {
    width: 400px;
  }
  .nowWere29,
  .nowWere30 {
    font-size: var(--font-size-xs);
  }
  .nowWereParent10 {
    padding-top: var(--padding-8xs);
    padding-bottom: var(--padding-8xs);
    box-sizing: border-box;
  }
}
