@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.nowWere {
  position: relative;
  letter-spacing: 0.7px;
  line-height: 35.64px;
  text-transform: uppercase;
}
.nowWereWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7.748156547546387px;
}
.nowWere1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.7px;
  line-height: 35.64px;
  text-transform: uppercase;
  font-weight: 800;
}
.nowWereContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7.748156547546387px;
  font-size: var(--font-size-15xl-9);
}
.transformYourAgricultural {
  margin: 0;
}
.cultivateSuccessWith {
  font-family: var(--font-poppins);
}
.nuncUltricesTellusContainer {
  flex: 1;
  position: relative;
  line-height: 24.79px;
}
.nuncUltricesTellusWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7.748156547546387px 7.748156547546387px;
  font-size: var(--font-size-base-5);
  color: var(--color-gainsboro-200);
}
.getInTouch {
  position: relative;
  font-size: var(--font-size-base-5);
  line-height: 9.86px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.getInTouch:hover {
  color: var(--color-darkolivegreen-300);
}
.getInTouchWrapper {
  cursor: pointer;
  border: 0;
  padding: 19.332033157348633px 38.664066314697266px;
  background-color: transparent;
  width: 190.9px;
  border-radius: 31.41px;
  background: linear-gradient(93.32deg, #4f943e, #c1ad28);
  height: 48.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.getInTouchWrapper:hover {
  mix-blend-mode: normal;
  background-color: var(--color-whitesmoke-300);
}
.transform {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.496313095092773px 0 30.992626190185547px;
  gap: 6.2px 0;
  color: var(--color-white);
}
.nowWere2,
.nowWere3 {
  position: relative;
  letter-spacing: 0.7px;
  line-height: 18.6px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere2 {
  align-self: stretch;
}
.nowWere3 {
  flex: 1;
  cursor: pointer;
}
.nowWere3:hover,
.nowWere4:hover,
.nowWere5:hover,
.nowWere6:hover {
  color: var(--color-goldenrod-300);
}
.nowWereFrame {
  align-self: stretch;
  height: 22.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nowWere4 {
  cursor: pointer;
}
.nowWere4,
.nowWere5 {
  flex: 1;
  position: relative;
  letter-spacing: 0.7px;
  line-height: 18.6px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 21.7px;
}
.nowWere6,
.nowWereWrapper1 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.nowWereWrapper1 {
  height: 27.1px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 7.748156547546387px 0;
  box-sizing: border-box;
}
.nowWere6 {
  position: relative;
  letter-spacing: 0.7px;
  line-height: 18.6px;
  text-transform: uppercase;
  font-weight: 500;
  height: 24.8px;
  flex-shrink: 0;
  cursor: pointer;
}
.frameChild {
  width: 64.3px;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
}
.nowWereGroup {
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
.nowWereGroup:hover .frameChild {
  display: flex;
}
.frameContainer,
.nowWereGroup,
.nowWereParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameContainer {
  align-self: stretch;
  height: 111.6px;
  justify-content: space-between;
  font-size: var(--font-size-smi-4);
  color: var(--color-white);
}
.nowWereParent {
  flex: 1;
  justify-content: flex-start;
  gap: 7.75px 0;
}
.nowWere7 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.7px;
  line-height: 35.64px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 17px;
  flex-shrink: 0;
}
.nowWereWrapper2 {
  width: 124.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.a {
  text-transform: uppercase;
}
.grsopectrum {
  text-transform: lowercase;
}
.agrsopectrumLtd {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.7px;
  line-height: 35.64px;
  font-weight: 600;
  color: var(--color-white);
}
.frameParent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.87px 0;
}
.nowWere8,
.nowWere9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.7px;
  line-height: 35.64px;
  text-transform: uppercase;
  font-weight: 600;
}
.nowWere9 {
  line-height: 18.6px;
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.75px 0;
}
.nowWereParent1 {
  width: 187px;
  flex-direction: column;
  gap: 9.3px 0;
  font-size: var(--font-size-smi-4);
  color: var(--color-white);
}
.frameGroup,
.frameParent1,
.nowWereParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex-direction: column;
  gap: 10.07px 0;
  font-size: var(--font-size-xs-6);
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  gap: 0 7.75px;
}
.nowWere13 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.7px;
  line-height: 35.64px;
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.75px 0;
}
.nowWere16,
.nowWere17 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.7px;
  line-height: 35.64px;
  text-transform: capitalize;
  font-weight: 600;
}
.nowWere17 {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 20.9px;
  flex-shrink: 0;
}
.nowWereParent4,
.nowWereParent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowWereParent5 {
  align-self: stretch;
  gap: 5.42px 0;
}
.nowWereParent4 {
  flex: 1;
  gap: 2.32px 0;
}
.frameParent,
.frameParent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameParent3 {
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-smi-4);
  color: var(--color-white);
}
.frameParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30.99px 0;
  font-size: var(--font-size-2xs-8);
}
.frameItem,
.nowWere18 {
  position: relative;
  cursor: pointer;
}
.frameItem {
  width: 16.3px;
  max-height: 100%;
}
.frameItem:hover {
  width: 24px;
}
.nowWere18 {
  font-size: var(--font-size-sm-9);
  letter-spacing: 0.89px;
  line-height: 45.51px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.nowWere18:hover {
  font-size: var(--font-size-4xl);
}
.nowWere20,
.vectorParent {
  display: flex;
  align-items: center;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 15.5px;
}
.nowWere20 {
  position: absolute;
  height: 203.83%;
  width: 96.17%;
  top: -51.67%;
  left: -0.71%;
  letter-spacing: 0.89px;
  line-height: 45.51px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere19,
.nowWere21 {
  align-self: stretch;
  position: relative;
}
.nowWere19 {
  height: 20.9px;
}
.nowWere21 {
  letter-spacing: 1.04px;
  line-height: 53.17px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
  cursor: pointer;
}
.nowWereParent6 {
  align-self: stretch;
  height: 45.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.75px 0;
}
.nowWere23 {
  position: absolute;
  width: 96.14%;
  top: -62.69%;
  left: -0.78%;
  letter-spacing: 0.89px;
  line-height: 45.51px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nowWere22 {
  align-self: stretch;
  position: relative;
  height: 20.1px;
}
.nowWere25 {
  position: absolute;
  top: 5.4px;
  left: -0.8px;
  letter-spacing: 0.89px;
  line-height: 45.51px;
  text-transform: lowercase;
  font-weight: 500;
}
.nowWere24 {
  align-self: stretch;
  position: relative;
  height: 20.1px;
  color: var(--color-white);
}
.nowWereParent7 {
  width: 204.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.75px 0;
}
.nowWere27 {
  position: absolute;
  top: -28.81%;
  left: 0;
  letter-spacing: 0.89px;
  line-height: 45.51px;
  text-transform: uppercase;
  font-weight: 500;
}
.groupIcon,
.nowWere26 {
  width: 101.5px;
  position: relative;
  height: 30.2px;
}
.groupIcon {
  width: 10.8px;
  height: 11.6px;
}
.instagram {
  width: 35.9px;
  border-radius: var(--br-5xl-7);
  background-color: var(--color-darkgray-300);
  height: 36.3px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15.438812255859375px;
  box-sizing: border-box;
  cursor: pointer;
}
.vectorIcon {
  width: 6px;
  position: relative;
  height: 11.6px;
}
.facebook {
  width: 36.7px;
  border-radius: 28.56px;
  background-color: var(--color-darkgray-300);
  height: 37.8px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15.438812255859375px 19.29851531982422px;
  box-sizing: border-box;
}
.vectorIcon1 {
  width: 12.9px;
  position: relative;
  height: 10.8px;
}
.twitter {
  width: 35.1px;
  border-radius: 45.16px;
  background-color: var(--color-darkgray-300);
  height: 35.1px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15.438812255859375px 13.508960723876953px;
  box-sizing: border-box;
}
.vectorIcon2 {
  width: 12.5px;
  position: relative;
  height: 11.6px;
}
.linkedinAgrospectrem {
  width: 38.2px;
  border-radius: 31.26px;
  background-color: var(--color-darkgray-300);
  height: 37.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15.438812255859375px;
  box-sizing: border-box;
  cursor: pointer;
}
.instagramParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 13.17px;
}
.frameParent4,
.nowWereParent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.nowWereParent8 {
  align-self: stretch;
  height: 76.7px;
  padding: 0 3.8740782737731934px;
  gap: 7.75px 0;
}
.frameParent4 {
  height: 286.7px;
  flex: 1;
  padding: 23.244470596313477px;
  gap: 23.24px 0;
  font-size: var(--font-size-smi-4);
}
.footer,
.transformParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.transformParent {
  flex-direction: row;
  align-items: flex-start;
  padding: 30.992626190185547px 0;
  gap: 190px 46.49px;
  opacity: 1;
}
.transformParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.footer {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 61.985252380371094px;
  text-align: left;
  font-size: var(--font-size-7xl-3);
  color: var(--color-seagreen);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameParent,
  .frameParent4,
  .transform {
    flex: unset;
    align-self: stretch;
  }
  .transformParent {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
  }
}
@media screen and (max-width: 960px) {
  .nowWere {
    font-size: var(--font-size-7xl);
  }
  .nowWere1 {
    font-size: var(--font-size-15xl);
  }
  .getInTouchWrapper {
    width: 200px;
    height: 55px;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .nowWere {
    font-size: var(--font-size-5xl);
  }
  .nowWere1 {
    font-size: var(--font-size-11xl);
  }
}
