@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.leftGroupIcon {
  width: 43.1px;
  position: relative;
  height: 43.1px;
  object-fit: cover;
  opacity: 0.78;
}
.mission1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 800;
  font-family: inherit;
}
.missionWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.leftGroupIcon1 {
  width: 42.3px;
  position: relative;
  height: 43.1px;
  object-fit: contain;
  opacity: 0.78;
}
.leftGroupParent,
.missionInner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.leftGroupParent {
  flex: 1;
  justify-content: space-between;
}
.missionInner {
  align-self: stretch;
  height: 125.7px;
  justify-content: center;
  opacity: 1;
  cursor: pointer;
}
.child.animate,
.inner.animate,
.missionInner.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.toExtendDigitalization {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 300;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.mission {
  width: 1407px;
  background-color: var(--color-gray-600);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 63.2507438659668px 158.12686157226562px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-91xl-7);
  color: var(--color-goldenrod-100);
  font-family: var(--font-poppins);
}
.integrity {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 800;
  font-family: inherit;
}
.integrityWrapper {
  width: 558.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.leftGroupIcon3 {
  width: 42.3px;
  position: relative;
  height: 43.1px;
  object-fit: contain;
  opacity: 0.78;
  cursor: pointer;
}
.inner {
  align-self: stretch;
  height: 125.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.ourCredibilityAs {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lgi-8);
  font-family: var(--font-inter);
  color: var(--color-white);
  white-space: pre-wrap;
  text-align: center;
}
.section {
  width: 1344.7px;
  background-color: var(--color-gray-600);
  height: 272.8px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 63.2507438659668px 158.12686157226562px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-91xl-7);
  color: var(--color-darkgreen-200);
  font-family: var(--font-poppins);
}
.resourcefulness {
  margin: 0;
  width: 860.9px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 800;
  font-family: inherit;
  flex-shrink: 0;
}
.child,
.resourcefulness,
.section1 {
  display: flex;
  align-items: center;
}
.child {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  opacity: 1;
}
.section1 {
  width: 1344.7px;
  background-color: var(--color-gray-600);
  height: 272.8px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 63.2507438659668px 158.12686157226562px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-75xl-9);
  color: var(--color-goldenrod-300);
  font-family: var(--font-poppins);
}
.weOfferA {
  margin: 0;
}
.weOfferAContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lgi-8);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.parentCaurosol,
.section2 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.section2 {
  width: 1344.7px;
  background-color: var(--color-gray-600);
  height: 253px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: 63.2507438659668px 158.12686157226562px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-91xl-7);
  color: var(--color-darkgreen-200);
  font-family: var(--font-poppins);
}
.parentCaurosol {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 0 0.79px;
  z-index: 0;
}
@media screen and (max-width: 1200px) {
  .parentCaurosol {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .mission,
  .section,
  .section1,
  .section2 {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .parentCaurosol {
    display: none;
  }
}
