@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-lexend-deca: "Lexend Deca";
  --font-montserrat: Montserrat;
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi-7: 12.7px;
  --font-size-xs: 12px;
  --font-size-mini-2: 14.2px;
  --font-size-4xl: 23px;
  --font-size-xs-9: 11.9px;
  --font-size-xs-1: 11.1px;
  --font-size-base-8: 15.8px;
  --font-size-16xl-6: 35.6px;
  --font-size-15xl: 34px;
  --font-size-11xl: 30px;
  --font-size-7xl-9: 26.9px;
  --font-size-7xl: 26px;
  --font-size-5xl: 24px;
  --font-size-3xl-1: 22.1px;
  --font-size-lgi: 19px;
  --font-size-25xl-3: 44.3px;
  --font-size-26xl: 45px;
  --font-size-mini: 15px;
  --font-size-lgi-8: 19.8px;
  --font-size-12xl-6: 31.6px;
  --font-size-8xs-8: 4.8px;
  --font-size-mid: 17px;
  --font-size-sm-9: 13.9px;
  --font-size-4xs-2: 8.2px;
  --font-size-5xs-6: 7.6px;
  --font-size-4xs-9: 8.9px;
  --font-size-base: 16px;
  --font-size-6xl-3: 25.3px;
  --font-size-6xs-6: 6.6px;
  --font-size-17xl-9: 36.9px;
  --font-size-mini-5: 14.5px;
  --font-size-62xl-3: 81.3px;
  --font-size-mini-4: 14.4px;
  --font-size-61xl-4: 80.4px;
  --font-size-smi-5: 12.5px;
  --font-size-91xl-7: 110.7px;
  --font-size-75xl-9: 94.9px;
  --font-size-mid-3: 17.3px;
  --font-size-7xs: 6px;
  --font-size-6xs-7: 6.7px;
  --font-size-10xs-3: 2.3px;
  --font-size-5xs: 8px;
  --font-size-10xs-7: 2.7px;
  --font-size-5xs-1: 7.1px;
  --font-size-3xs-5: 9.5px;
  --font-size-7xs-9: 5.9px;
  --font-size-6xs-2: 6.2px;
  --font-size-2xs-6: 10.6px;
  --font-size-base-6: 15.6px;
  --font-size-32xl-4: 51.4px;
  --font-size-3xs-3: 9.3px;
  --font-size-sm: 14px;
  --font-size-21xl-2: 40.2px;
  --font-size-smi: 13px;
  --font-size-2xs: 11px;
  --font-size-4xl-7: 23.7px;
  --font-size-xl: 20px;
  --font-size-3xs: 10px;
  --font-size-60xl-1: 79.1px;
  --font-size-41xl: 60px;
  --font-size-9xs: 4px;
  --font-size-13xl: 32px;
  --font-size-9xl-3: 28.3px;
  --font-size-18xl: 37px;
  --font-size-lgi-5: 19.5px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-49xl: 68px;
  --font-size-52xl: 71px;
  --font-size-42xl: 61px;
  --font-size-38xl: 57px;
  --font-size-39xl: 58px;
  --font-size-xs-7: 11.7px;
  --font-size-2xs-3: 10.3px;
  --font-size-8xs-3: 4.3px;
  --font-size-7xs-7: 5.7px;
  --font-size-sm-3: 13.3px;
  --font-size-8xs-5: 4.5px;
  --font-size-lgi-4: 19.4px;
  --font-size-base-7: 16.7px;
  --font-size-sm-2: 13.2px;
  --font-size-2xs-4: 10.4px;
  --font-size-mid-4: 17.4px;
  --font-size-9xl: 28px;
  --font-size-6xl: 25px;
  --font-size-smi-8: 12.8px;
  --font-size-xs-2: 11.2px;
  --font-size-base-1: 16.1px;
  --font-size-17xl-1: 36.1px;
  --font-size-6xs-4: 6.4px;
  --font-size-4xs-8: 8.8px;
  --font-size-2xs-2: 10.2px;
  --font-size-5xs-5: 7.5px;
  --font-size-sm-7: 13.7px;
  --font-size-3xl-5: 22.5px;
  --font-size-28xl: 47px;
  --font-size-46xl: 65px;
  --font-size-17xl: 36px;
  --font-size-8xl-2: 27.2px;
  --font-size-6xs-1: 6.1px;
  --font-size-mid-6: 17.6px;
  --font-size-base-2: 15.2px;
  --font-size-3xs-6: 9.6px;
  --font-size-smi-6: 12.6px;
  --font-size-xs-5: 11.5px;
  --font-size-44xl-2: 63.2px;
  --font-size-24xl: 43px;
  --font-size-11xl-4: 30.4px;
  --font-size-xs-8: 11.8px;
  --font-size-mini-1: 14.1px;
  --font-size-2xs-9: 10.9px;
  --font-size-16xl-1: 35.1px;
  --font-size-7xl-5: 26.5px;
  --font-size-mini-8: 14.8px;
  --font-size-35xl-6: 54.6px;
  --font-size-25xl: 44px;
  --font-size-lg-8: 18.8px;
  --font-size-79xl-7: 98.7px;
  --font-size-51xl: 70px;
  --font-size-53xl: 72px;
  --font-size-43xl: 62px;
  --font-size-27xl-8: 46.8px;
  --font-size-smi-4: 12.4px;
  --font-size-xs-6: 11.6px;
  --font-size-2xs-8: 10.8px;
  --font-size-base-5: 15.5px;
  --font-size-15xl-9: 34.9px;
  --font-size-7xl-3: 26.3px;
  --font-size-29xl-8: 48.8px;
  --font-size-36xl: 55px;
  --font-size-16xl: 35px;
  --font-size-41xl-4: 60.4px;
  --font-size-lgi-7: 19.7px;

  /* Colors */
  --color-darkslategray-100: #003a2b;
  --color-darkslategray-200: #002a24;
  --color-darkslategray-300: #0a2804;
  --color-darkslategray-400: rgba(0, 58, 43, 0.8);
  --color-white: #fff;
  --color-darkgray-100: #baafaf;
  --color-darkgray-200: #bda7a7;
  --color-darkgray-300: #9599a3;
  --color-seagreen: #358f43;
  --color-goldenrod-100: #feca3a;
  --color-goldenrod-200: #f0c129;
  --color-goldenrod-300: #f0c024;
  --color-goldenrod-400: #c9a223;
  --color-goldenrod-500: rgba(240, 192, 36, 0.7);
  --color-goldenrod-600: rgba(240, 192, 36, 0.6);
  --color-goldenrod-700: rgba(240, 192, 36, 0.8);
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #ececec;
  --color-whitesmoke-300: #e2ebe2;
  --color-darkolivegreen-100: #5b4707;
  --color-darkolivegreen-200: #13340c;
  --color-darkolivegreen-300: #0c3305;
  --color-darkolivegreen-400: #05310c;
  --color-darkolivegreen-500: #05310b;
  --color-darkolivegreen-600: #0b2e04;
  --color-darkolivegreen-700: rgba(19, 52, 12, 0.8);
  --color-gainsboro-100: #e4e4e4;
  --color-gainsboro-200: #dedddd;
  --color-gainsboro-300: #d9d9d9;
  --color-gainsboro-400: #d8d8d8;
  --color-darkslateblue: rgba(48, 57, 99, 0.24);
  --color-gray-100: #fffdfd;
  --color-gray-200: #fcfcfc;
  --color-gray-300: #7d7c7c;
  --color-gray-400: #172310;
  --color-gray-500: #0d1801;
  --color-gray-600: #061802;
  --color-gray-800: rgba(125, 124, 124, 0.6);
  --color-gray-900: rgba(255, 255, 255, 0.2);
  --color-gray-1100: rgba(255, 255, 255, 0.1);
  --color-gray-1200: rgba(5, 5, 5, 0.06);
  --color-gray-1300: rgba(33, 33, 34, 0.8);
  --color-gray-1400: rgba(255, 255, 255, 0.16);
  --color-dimgray-100: #515151;
  --color-dimgray-200: rgba(103, 72, 64, 0.24);
  --color-black: #000;
  --color-darkgreen-100: #1d7826;
  --color-darkgreen-200: #176610;
  --color-sandybrown: #ffa247;
  --color-yellowgreen-100: #c3db33;
  --color-yellowgreen-200: #bbd432;
  --color-darkgoldenrod: rgba(179, 152, 12, 0.8);
  --color-firebrick: #c10202;
  --color-olivedrab-100: #9eb032;
  --color-darkseagreen-100: #c3e8b7;
  --color-darkseagreen-200: #c3e7b6;
  --color-forestgreen: rgba(79, 148, 62, 0.6);

  /* Gaps */
  --gap-0: 0px;
  --gap-4xl-7: 23.7px;
  --gap-5xs-9: 7.9px;
  --gap-12xl-6: 31.6px;
  --gap-10xs-4: 2.4px;
  --gap-7xs-5: 5.5px;
  --gap-7xl-9: 26.9px;
  --gap-2xs-3: 10.3px;
  --gap-9xs-2: 3.2px;
  --gap-6xs-3: 6.3px;
  --gap-base-8: 15.8px;
  --gap-xs-9: 11.9px;
  --gap-20xl-5: 39.5px;
  --gap-3xl-1: 22.1px;
  --gap-lgi: 19px;
  --gap-7xl-6: 26.6px;
  --gap-6xs-7: 6.7px;
  --gap-3xl-4: 22.4px;
  --gap-44xl-3: 63.3px;
  --gap-2xs-5: 10.5px;
  --gap-41xl: 60px;
  --gap-41xl-1: 60.1px;
  --gap-19xl: 38px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-9xs: 4px;
  --gap-9xs-6: 3.6px;
  --gap-2xs-4: 10.4px;
  --gap-xl: 20px;
  --gap-mini: 15px;
  --gap-13xl-1: 32.1px;
  --gap-7xs-6: 5.6px;
  --gap-6xs-9: 6.9px;
  --gap-3xs-2: 9.2px;
  --gap-29xl-2: 48.2px;
  --gap-smi-1: 12.1px;
  --gap-5xl: 24px;
  --gap-13xl: 32px;
  --gap-8xl-2: 27.2px;
  --gap-6xs-4: 6.4px;
  --gap-9xl: 28px;
  --gap-14xl-6: 33.6px;
  --gap-15xl: 34px;
  --gap-8xl-7: 27.7px;
  --gap-8xs-7: 4.7px;
  --gap-8xs: 5px;
  --gap-base: 16px;
  --gap-4xl-4: 23.4px;
  --gap-5xs-8: 7.8px;
  --gap-12xl-2: 31.2px;
  --gap-10xs-3: 2.3px;
  --gap-7xl-5: 26.5px;
  --gap-2xs-2: 10.2px;
  --gap-9xs-1: 3.1px;
  --gap-6xs-2: 6.2px;
  --gap-26xl: 45px;
  --gap-16xl-1: 35.1px;
  --gap-lgi-5: 19.5px;
  --gap-base-6: 15.6px;
  --gap-mini-8: 14.8px;
  --gap-4xl-2: 23.2px;
  --gap-12xl: 31px;
  --gap-7xs-4: 5.4px;
  --gap-7xl-3: 26.3px;
  --gap-2xs-1: 10.1px;
  --gap-35xl-2: 54.2px;
  --gap-base-5: 15.5px;
  --gap-xs-6: 11.6px;
  --gap-3xl-5: 22.5px;
  --gap-11xl: 30px;
  --gap-21xl: 40px;
  --gap-10xs: 3px;
  --gap-6xs: 7px;
  --gap-smi: 13px;

  /* Paddings */
  --padding-5xs-9: 7.9px;
  --padding-162xl-8: 181.8px;
  --padding-101xl: 120px;
  --padding-97xl: 116px;
  --padding-8xs: 5px;
  --padding-218xl-2: 237.2px;
  --padding-44xl-3: 63.3px;
  --padding-21xl: 40px;
  --padding-11xl: 30px;
  --padding-12xl-6: 31.6px;
  --padding-4xl-7: 23.7px;
  --padding-9xs: 4px;
  --padding-base-8: 15.8px;
  --padding-sm-8: 13.8px;
  --padding-lgi-7: 19.7px;
  --padding-20xl-5: 39.5px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-28xl-4: 47.4px;
  --padding-297xl-3: 316.3px;
  --padding-221xl: 240px;
  --padding-121xl: 140px;
  --padding-41xl: 60px;
  --padding-sm-4: 13.4px;
  --padding-139xl-1: 158.1px;
  --padding-lgi-8: 19.8px;
  --padding-141xl: 160px;
  --padding-3xs: 10px;
  --padding-lgi: 19px;
  --padding-234xl-1: 253.1px;
  --padding-9xs-8: 3.8px;
  --padding-2xl-1: 21.1px;
  --padding-33xl-7: 52.7px;
  --padding-27xl-5: 46.5px;
  --padding-97xl-2: 116.2px;
  --padding-26xl-9: 45.9px;
  --padding-95xl-8: 114.8px;
  --padding-11xs-3: 1.3px;
  --padding-11xs-6: 1.6px;
  --padding-9xs-1: 3.1px;
  --padding-7xs-6: 5.6px;
  --padding-198xl-4: 217.4px;
  --padding-31xl-6: 50.6px;
  --padding-81xl: 100px;
  --padding-181xl: 200px;
  --padding-6xl: 25px;
  --padding-26xl: 45px;
  --padding-6xs-5: 6.5px;
  --padding-61xl: 80px;
  --padding-71xl: 90px;
  --padding-13xl-1: 32.1px;
  --padding-3xl: 22px;
  --padding-281xl: 300px;
  --padding-xs-1: 11.1px;
  --padding-99xl-6: 118.6px;
  --padding-7xs: 6px;
  --padding-31xl: 50px;
  --padding-3xs-5: 9.5px;
  --padding-mini-3: 14.3px;
  --padding-10xs-4: 2.4px;
  --padding-8xs-8: 4.8px;
  --padding-22xl-7: 41.7px;
  --padding-6xs-9: 6.9px;
  --padding-8xl-8: 27.8px;
  --padding-xs-8: 11.8px;
  --padding-sm-9: 13.9px;
  --padding-mid: 17px;
  --padding-5xs: 8px;
  --padding-45xl-2: 64.2px;
  --padding-5xl-1: 24.1px;
  --padding-base: 16px;
  --padding-base-1: 16.1px;
  --padding-165xl-1: 184.1px;
  --padding-221xl-1: 240.1px;
  --padding-45xl: 64px;
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-base-9: 15.9px;
  --padding-sm: 14px;
  --padding-lgi-9: 19.9px;
  --padding-20xl-9: 39.9px;
  --padding-301xl-1: 320.1px;
  --padding-44xl-2: 63.2px;
  --padding-20xl-4: 39.4px;
  --padding-201xl: 220px;
  --padding-5xs-2: 7.2px;
  --padding-lgi-3: 19.3px;
  --padding-smi-2: 12.2px;
  --padding-15xl: 34px;
  --padding-mini-2: 14.2px;
  --padding-smi-6: 12.6px;
  --padding-2xl-3: 21.3px;
  --padding-14xl-6: 33.6px;
  --padding-181xl-1: 200.1px;
  --padding-131xl: 150px;
  --padding-xs: 12px;
  --padding-xs-2: 11.2px;
  --padding-3xs-6: 9.6px;
  --padding-5xs-8: 7.8px;
  --padding-160xl-5: 179.5px;
  --padding-215xl-2: 234.2px;
  --padding-43xl-4: 62.4px;
  --padding-12xl-2: 31.2px;
  --padding-4xl-4: 23.4px;
  --padding-9xs-9: 3.9px;
  --padding-base-6: 15.6px;
  --padding-sm-6: 13.6px;
  --padding-lgi-4: 19.4px;
  --padding-lgi-5: 19.5px;
  --padding-20xl: 39px;
  --padding-27xl-8: 46.8px;
  --padding-98xl-1: 117.1px;
  --padding-8xl-3: 27.3px;
  --padding-9xl-1: 28.1px;
  --padding-10xl-7: 29.7px;
  --padding-4xs: 9px;
  --padding-4xl-5: 23.5px;
  --padding-28xl: 47px;
  --padding-6xs-6: 6.6px;
  --padding-136xl-3: 155.3px;
  --padding-105xl-9: 124.9px;
  --padding-30xl-2: 49.2px;
  --padding-5xs-7: 7.7px;
  --padding-159xl-2: 178.2px;
  --padding-213xl-4: 232.4px;
  --padding-43xl: 62px;
  --padding-12xl: 31px;
  --padding-4xl-2: 23.2px;
  --padding-base-4: 15.4px;
  --padding-sm-5: 13.5px;
  --padding-base-5: 15.5px;
  --padding-19xl-7: 38.7px;
  --padding-151xl-5: 170.5px;
  --padding-lg-8: 18.8px;
  --padding-6xs-3: 6.3px;
  --padding-31xl-8: 50.8px;
  --padding-8xs-2: 4.2px;
  --padding-58xl-5: 77.5px;
  --padding-136xl: 155px;
  --padding-28xl-9: 47.9px;
  --padding-42xl: 61px;
  --padding-74xl: 93px;
  --padding-16xl: 35px;
  --padding-30xl-9: 49.9px;
  --padding-mid-4: 17.4px;
  --padding-5xl-9: 24.9px;

  /* Border radiuses */
  --br-12xl-9: 31.9px;
  --br-27xl-1: 46.1px;
  --br-10xl-1: 29.1px;
  --br-6xl-2: 25.2px;
  --br-13xl-1: 32.1px;
  --br-xs-9: 11.9px;
  --br-4xl-7: 23.7px;
  --br-5xl-5: 24.5px;
  --br-smi-7: 12.7px;
  --br-7xs-1: 5.1px;
  --br-5xs-9: 7.9px;
  --br-12xl-6: 31.6px;
  --br-20xl-5: 39.5px;
  --br-284xl-9: 303.9px;
  --br-9xs-6: 3.6px;
  --br-5xs-1: 7.1px;
  --br-5xs-4: 7.4px;
  --br-2xs-4: 10.4px;
  --br-xl-8: 20.8px;
  --br-2xl-5: 21.5px;
  --br-mini: 15px;
  --br-11xl: 30px;
  --br-12xl: 31px;
  --br-xl: 20px;
  --br-5xs: 8px;
  --br-smi-1: 12.1px;
  --br-base-1: 16.1px;
  --br-13xl-3: 32.3px;
  --br-27xl-6: 46.6px;
  --br-10xl-5: 29.5px;
  --br-6xl-5: 25.5px;
  --br-13xl-5: 32.5px;
  --br-base: 16px;
  --br-6xs-4: 6.4px;
  --br-280xl-1: 299.1px;
  --br-base-8: 15.8px;
  --br-10xl-3: 29.3px;
  --br-lgi-8: 19.8px;
  --br-mid-4: 17.4px;
  --br-3xl-9: 22.9px;
  --br-359xl-4: 378.4px;
  --br-21xl: 40px;
  --br-283xl-8: 302.8px;
  --br-12xl-5: 31.5px;
  --br-26xl-5: 45.5px;
  --br-9xl-8: 28.8px;
  --br-5xl-9: 24.9px;
  --br-12xl-7: 31.7px;
  --br-xs-7: 11.7px;
  --br-19xl-2: 38.2px;
  --br-4xl-4: 23.4px;
  --br-18xl-5: 37.5px;
  --br-12xl-3: 31.3px;
  --br-26xl-2: 45.2px;
  --br-9xl-6: 28.6px;
  --br-5xl-7: 24.7px;
  --br-12xl-4: 31.4px;
  --br-xs-6: 11.6px;
  --br-smi-4: 12.4px;
  --br-18xl-9: 37.9px;
  --br-31xl: 50px;
  --br-21xl-5: 40.5px;
  --br-21xl-4: 40.4px;
  --br-39xl-3: 58.3px;
  --br-17xl-9: 36.9px;
}
